# large files to github
dummy-data

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Executables
*.exe

# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Compiled Static libraries
*.la
*.a
*.lib

# Do not ignore makefiles
![Mm]akefile

# VSCode files
.vscode/settings.json

# .zip files
*.zip

# .txt files
*.txt